np# Node.js
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# .NET
server/EMT_API/bin/
server/EMT_API/obj/
server/EMT_API/wwwroot/avatars/
server/EMT_API.Tests/bin/
server/EMT_API.Tests/obj/
# Common
*.log
*.user
*.DS_Store
.vscode/
.idea/
bin/
obj/
node_modules/
# Visual Studio cache
.vs/
*.vscode/
*.user
*.suo
*.db
*.opendb